dj-database-url==0.4.1
Django==1.8.0
gunicorn==19.6.0
psycopg2==2.6.2
whitenoise==3.2.2
virtualenv==15.1.0 
Crypto==1.4.1
pycrypto==2.6.1
Naked==0.1.31
pyyaml==3.12
requests==2.12.3
shellescape==3.4.1